/* ============ common styles ============ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 120px 0;
}

/* ============ /common styles ============ */

/* ============ header ============ */
.page-header {
    border-bottom: 1px solid  #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding: 24px 0;
    margin-right: 76px;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list-link {
    position: relative;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus,
.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.nav-list-link.active {
    color: #404BBF;
}

.nav-list-link.active::after {
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: '';
    background-color: #404BBF;
}

/* ============ /header ============ */

/* ============ hero ============ */
.hero {
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)
    ), 
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #2E2F42;
    padding: 188px 0;
    margin: 0 auto;
}

.hero-content {
    margin: 0 auto;
}

.hero-title {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    max-width: 496px;
    margin: 0 auto 48px;
   }

.hero-button {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #FFFFFF;
    height: 56px;
    min-width: 169px;
    border: none;
    padding: 16px 32px;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background: #404BBF;
}
/* ============ /hero ============ */

/* ============ features ============ */
.feauteres-list {
    display: flex;
    gap: 24px;
}

.feauteres-list-item {
    width: calc((100% - 3 * 24px) / 4);
}

.feauteres-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.features-list-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.features-list-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ============ /features ============ */

/* ============ team ============ */
.team {
    background: #F4F4FD;
}

.team-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-list-item {
    width: calc((100% - 3 * 24px) / 4);
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16), 
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-item-text {
    padding: 32px 0;
}

.team-list-item-title {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-list-item-job {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-list-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-list-icons-item {
    width: 40px;
    height: 40px;
}

.social-icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #F4F4FD;
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: #404BBF;
}
/* ============ /team ============ */

/* ============ portfolio ============ */
.portfolio-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.portfolio-list-item {
    width: calc((100% - 2 * 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-card-content {
    padding: 32px 16px;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.portfolio-list-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-list-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    border-right: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
                0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
                0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay-text {
    transform: translateY(0%);
}
/* ============ /portfolio ============ */

/* ============ footer ============ */
.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-content {
    display: flex;
    align-items: baseline;
}

.footer-slogan {
    margin-right: 120px;
}

.footer .logo-web {
    display: inline-block;
    padding: 0;
    margin-right: 0;
    margin-bottom: 16px;
}

.logo-studio-light {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    margin-bottom: 16px;
}

.footer-text {
    width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.social-media-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-list-item {
    width: 40px;
    height: 40px;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill:#F4F4FD;
}
    
.footer-icon:hover,
.footer-icon:focus{
    background-color: #31D0AA;

}

.subscribe-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #FFFFFF;
}
/* ============ /footer ============ */

/* ============ backdrop ============ */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.7);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
/* ============ /backdrop ============ */

/* ============ modal window ============ */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #FCFCFC;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    border-radius: 50%;
    background-color: #E7E9FC;
    padding: 8px;
    line-height: 0;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: #FFFFFF;
    background-color: #404BBF;
}
/* ============ /modal window ============ */